---
import Layout from '../../layouts/Layout.astro'
---

<style>
  a {
    color: #1c92f2;
  }
</style>

<Layout title="Credits">
  <div class="container mx-auto px-4 py-6">
    <h1 class="text-2xl font-bold">Credits</h1>
    <ul>
      <li>
        <a href="https://www.freepik.com/" target="_blank"
          >Designed by Freepik</a
        >
      </li>
      <li>
        <a href="https://lottiefiles.com/" target="_blank">LottieFiles</a>
      </li>
      <li>
        <a
          href="https://www.freepik.com/free-vector/finance-men-with-service-tax-report_5673778.htm#fromView=search&page=1&position=9&uuid=8d3db864-9d0b-4f03-854d-f3fb5784c172"
          target="_blank"
        >
          Image by studiogstock on Freepik
        </a>
      </li>
      <li>
        <a
          href="https://www.freepik.com/free-photo/young-male-teacher-wearing-glasses-looking-aside-with-hand-chin-with-pensive-expression-thinking-sitting-school-desk-with-books-notes-front-blackboard-classroom_14894386.htm#fromView=search&page=2&position=46&uuid=30b52e34-4797-40bb-9a8b-72ab9debc52b"
          target="_blank">Image by stockking on Freepik</a
        >
      </li>
      <li>
        <a
          href="https://www.freepik.com/free-vector/eating-chocolateconcept-illustration_28430529.htm#fromView=search&page=1&position=0&uuid=296dda7f-5fca-4e5e-9533-a36dd481e4e7"
          target="_blank">Image by storyset on Freepik</a
        >
      </li>

      - <a
        href="https://www.freepik.com/free-vector/flat-hand-drawn-dance-fitness-class-illustration_12429384.htm#fromView=search&page=1&position=12&uuid=9ca1f08b-7b8e-4e09-bb13-71071af5a600"
        >Image by pikisuperstar on Freepik</a
      >
      <li>
        <a
          href="https://iconscout.com/icons/arrow-down"
          class="text-underline font-size-sm"
          target="_blank">Arrow Down</a
        > by <a
          href="https://iconscout.com/contributors/lutfix"
          class="text-underline font-size-sm"
          target="_blank">Lutfi Achmad</a
        >
      </li>
      <li>
        <a
          href="https://www.freepik.com/free-photo/white-paper-textured-background-simple-style_18668496.htm#fromView=search&page=1&position=2&uuid=6d557a0d-1d53-43de-8ae2-a67862e8aeb2"
          target="_blank">Image by rawpixel.com on Freepik</a
        >
      </li>
      <li>
        <a
          href="https://www.freepik.com/free-vector/clean-cross-diagonal-line-pattern_2543426.htm#fromView=search&page=2&position=6&uuid=0e270116-9b59-47d5-bb74-48abf2321daf"
          target="_blank">Image by starline on Freepik</a
        >
      </li>
      <li>
        <a
          href="https://www.freepik.com/search?format=search&img=1&last_filter=img&last_value=1&query=divider&selection=1"
          target="_blank">Image by rawpixel.com on Freepik</a
        >
      </li>
      <li>
        <a
          href="https://iconscout.com/icons/anchor"
          class="text-underline font-size-sm"
          target="_blank">anchor</a
        > by <a
          href="https://iconscout.com/contributors/thebeststarticon"
          class="text-underline font-size-sm"
          target="_blank">thebeststarticon</a
        >
      </li>
      <li>
        <a
          href="https://iconscout.com/icons/tool-box"
          class="text-underline font-size-sm"
          target="_blank">Tool Box</a
        > by <a
          href="https://iconscout.com/contributors/komkrit-noenpoempisut"
          class="text-underline font-size-sm">itim2101</a
        > on <a href="https://iconscout.com" class="text-underline font-size-sm"
          >IconScout</a
        >
      </li>
      <li>
        <a
          href="https://iconscout.com/icons/tool-box"
          class="text-underline font-size-sm"
          target="_blank">Tool Box</a
        > by <a
          href="https://iconscout.com/contributors/komkrit-noenpoempisut"
          class="text-underline font-size-sm"
          target="_blank">itim2101</a
        > on <a
          href="https://iconscout.com"
          class="text-underline font-size-sm"
          target="_blank">IconScout</a
        >
      </li>
      <li>
        <a
          href="https://iconscout.com/icons/menu"
          class="text-underline font-size-sm"
          target="_blank">menu</a
        > by <a
          href="https://iconscout.com/contributors/anggaraputra"
          class="text-underline font-size-sm"
          target="_blank">Anggara Putra</a
        >
      </li>
      <li>
        <a href="https://www.freepik.com/search" target="_blank"
          >Icon by Georgy</a
        >
      </li>
    </ul>
  </div>
</Layout>
