---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Credits">
  <div class="container mx-auto px-4 py-6">
    <h1 class="text-2xl font-bold">Credits</h1>
    <ul>
      <li>
        <a href="https://www.freepik.com/" target="_blank"
          >Designed by Freepik</a
        >
      </li>
      <li>
        <a href="https://lottiefiles.com/" target="_blank">LottieFiles</a>
      </li>
      <li>
        <a
          href="https://iconscout.com/icons/world-idli-day"
          class="text-underline font-size-sm"
          target="_blank">world idli day</a
        > by <a
          href="https://iconscout.com/contributors/jungsa"
          class="text-underline font-size-sm"
          target="_blank">Jungsa</a
        >
      </li>
      <li>
        <a
          href="https://iconscout.com/icons/gujrati-food"
          class="text-underline font-size-sm"
          target="_blank">gujrati food</a
        > by <a
          href="https://iconscout.com/contributors/iconscout"
          class="text-underline font-size-sm">IconScout Store</a
        > on <a href="https://iconscout.com" class="text-underline font-size-sm"
          >IconScout</a
        >
      </li>
      <li>
        <a
          href="https://iconscout.com/icons/fried-basil"
          class="text-underline font-size-sm"
          target="_blank">Fried Basil</a
        > by <a
          href="https://iconscout.com/contributors/chanut-is-industries"
          class="text-underline font-size-sm">Rafiico Creative Studio</a
        > on <a href="https://iconscout.com" class="text-underline font-size-sm"
          >IconScout</a
        >
      </li>
      <li>
        <a
          href="https://iconscout.com/icons/menu"
          class="text-underline font-size-sm"
          target="_blank">Menu</a
        > by <a
          href="https://iconscout.com/contributors/chamedesign"
          class="text-underline font-size-sm">Chamestudio</a
        > on <a href="https://iconscout.com" class="text-underline font-size-sm"
          >IconScout</a
        >
      </li>
      <li>
        <a
          href="https://www.freepik.com/icon/baby-food_8583131#fromView=search&page=1&position=1&uuid=b4f2eba1-a368-4a48-bedd-b9bde1b15524"
          >Icon by Icongeek</a
        >
      </li>
    </ul>
  </div>
</Layout>
